db/src/test/resources/db-schema/database.dtd

<!ELEMENT dataset (
   (BOOK|
    DBMAINTAIN_SCRIPTS)*)>

<!ELEMENT BOOK EMPTY>
<!ATTLIST BOOK
    ID CDATA #IMPLIED
    TITLE CDATA #IMPLIED
    TAGS CDATA #IMPLIED
>

<!ELEMENT DBMAINTAIN_SCRIPTS EMPTY>
<!ATTLIST DBMAINTAIN_SCRIPTS
    FILE_NAME CDATA #IMPLIED
    VERSION CDATA #IMPLIED
    FILE_LAST_MODIFIED_AT CDATA #IMPLIED
    CHECKSUM CDATA #IMPLIED
    EXECUTED_AT CDATA #IMPLIED
    SUCCEEDED CDATA #IMPLIED
>

